.citizenship{
    display: flex;
    gap: 20px;
    align-items: center;
    justify-content: space-between;
}

.booking{
    display: flex;
    flex-direction: column;
    align-items: start;
    padding: 20px;
    gap: 20px;
    background-color:blanchedalmond;
    font-weight: 700;
}

.date{
    display: flex;
    align-items: center;
    gap: 15px ;
    flex-wrap: wrap;
}

.date .date-start, .date-end{
    display: flex;
    gap: 5px; 
    align-items: center;
}

.select-country{
    display: flex;
    gap: 15px;
    align-items: center;
}
.select-country select , .citizenship select{
    border-radius: 10px;  
}
.booking select{
    padding: 10px;
    width: 200px;
}

.board-choose{
    display: flex;
    gap: 10px;
    flex-wrap: wrap;
}
.date input{
    padding: 5px;
    font-size: 18px;
    border-radius: 10px;
}
.error {
    border: 1px solid red;
    box-shadow: 4px;
    color: red;
}

.button{
    background-color: dodgerblue;
    color: white;
    padding: 10px;
    border-radius: 15px;
    border: none;
    cursor: pointer;
}

.button:hover{
    background-color: rgb(21, 87, 153);
}

.board-choose-input{
    cursor: pointer;
}

.board-choose-input:active{
    color: dodgerblue;
}