@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

* {
    font-family: "Montserrat", sans-serif;
}

.hotel-booking-system {
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: blanchedalmond;
    flex-wrap: wrap; 
    padding: 10px;
}


@media (max-width: 768px) {
    .hotel-booking-system {
        flex-direction: column; 
        align-items: stretch;  
    }
}